body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.msg {
	border: 1px groove pink;
}

#msgWindow {
	white-space: pre;
	overflow-y: auto;
	overflow-x: none;
	width: 700px;
	height: 550px;
}
 
.shadow {
	box-shadow: 2px 2px 4px 1px #000000;
	padding-top: 10px;
	padding-right: 1px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.animate{

}

.animate-enter.animate-enter-active, .animate-leave {
	left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
	left: 100px;
}
.animate-enter, .animate-leave {
	transition: 500ms ease-in all;
	position: relative;
	display: block;
} 

.animate-add{
	transition: background 5s ease-in all;
}
.animate-remove{
	transition: background 5s ease-in all;
}
