body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vis-hid{
	visibility: hidden;
}

.op0 {
	opacity: 0;
	transition: opacity 0.5s linear 0s
}

/*
#allChatWindows {
*/
.chatWindow {
	height: 250px !important;
	overflow-y: scroll;
}

.pad3 {
	padding: 3px;
}

.mg-rt10 {
	margin-right: 10px;
}

.mg-lt10 {
	margin-left: 10px;
}

.msg {
/*
	border: 2px; groove pink;
*/
}

.from-me {
	position:relative;
	padding:10px 20px;
	color:white; 
	background:#0B93F6;
	border-radius:25px;
	
}

.from-me:before {
	content:"";
	position:absolute;
	z-index:-1;
	bottom:-2px;
	right:-7px;
	height:20px;
/*
	border-right:20px solid #0B93F6;
*/
	border-bottom-left-radius: 16px 14px;
	transform:translate(0, -2px);
}

.from-me:after {
/*
	content:"";
*/
	position:absolute;
	z-index:1;
	bottom:-2px;
	right:-56px;
	width:26px;
	height:20px;
	background:white;
	border-bottom-left-radius: 10px;
	transform:translate(-30px, -2px);
}

.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
}

.from-them:before {
	content:"";
	position:absolute;
	z-index:2;
	bottom:-2px;
	left:-7px;
	height:20px;
/*
	border-left:20px solid #E5E5EA;
*/
	border-bottom-right-radius: 16px 14px;
	transform:translate(0, -2px);
}

.from-them:after {
	content:"";
	position:absolute;
	z-index:3;
	bottom:-2px;
	left:4px;
	width:26px;
	height:20px;
	background:white;
	border-bottom-right-radius: 10px;
	transform:translate(-30px, -2px);
}


#msgWindow {
	white-space: pre;
	overflow-y: auto;
	overflow-x: none;
	width: 700px;
	height: 550px;
}
 
.shadow {
	box-shadow: 2px 2px 4px 1px #000000;
	padding-top: 10px;
	padding-right: 1px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.animate{

}

.animate-enter.animate-enter-active, .animate-leave {
	left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
	left: 100px;
}
.animate-enter, .animate-leave {
	transition: 500ms ease-in all;
	position: relative;
	display: block;
}

.animate-add {
	transition: background 5s ease-in all;
}
.animate-remove{
	transition: background 5s ease-in all;
}
